server:
  port: 18080
  servlet:
    context-path: /dart
    encoding:
      charset: UTF-8
      enabled: true
      force: true

management:
  endpoints:
    web:
      exposure:
        include: health

spring:
  application:
    name: FinReport
  profiles:
    active: test # CI 빌드 테스트 시 컨피그서버에서 테스트컨테이너 설정도 읽을 수 있게하기 위해 추가
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5433/COMP_VALUE  # 로컬 5433, 운영 5432(k8s에서 설정)
    username: compvalue
    password: compvalue
  jpa:
    hibernate:
      jdbc:
        lob:
          non_contextual_creation: true
      # none: 아무런 스키마 변경도 수행하지 않습니다.
      # validate: 엔티티와 데이터베이스 스키마가 일치하는지 검증만 하고, 수정은 하지 않습니다.
      # update: 엔티티 변경 시 수정만 함
      # create: 애플리케이션 시작 시 기존 스키마를 모두 삭제하고 새로 생성합니다.
      # create-drop: 애플리케이션 시작 시 스키마를 생성하고, 종료 시에 삭제합니다.
      ddl-auto: update
      naming:
        # 물리명그대로 사용하기
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    show-sql: true  # SQL 쿼리 출력
    properties:
      hibernate:
        format_sql: true  # SQL 포맷팅
    database:
      platform: org.hibernate.dialect.PostgreSQLDialect
  data:
    redis:
      host: ${SPRING_REDIS_HOST:127.0.0.1}
      password: ${SPRING_REDIS_PASSWORD:1234}
      port: ${SPRING_REDIS_PORT:6380}  # 로컬에선 6380, 운영에선 6379(k8s에서 설정)
      timeout: 2s
      database: ${SPRING_REDIS_DATABASE:9} # 디폴트 0인데 개발 환경에선 9로 분리(k8s 올릴때 환경변수는 0으로 설정)
      client-name: finreport-k8s-pf
  cache:
    type: caffeine
    caffeine:
      spec: maximumSize=1000,expireAfterWrite=60m
  mail:
    host: smtp.naver.com
    port: 587
#    username: ${COMPVALUE_MAIL_USER}
#    password: ${COMPVALUE_MAIL_PASS}
    username: ghkdckdgk123@naver.com
    password: 7BEC1QP6PW43
    properties:
      mail:
        smtp:
          auth: true  # SMTP 인증 활성화
        starttls:
          enable: true  # 암호화 활성화

logging:
  level:
#    root: INFO               # 기본 로그레벨
    root: DEBUG
#    com.finance.dart: DEBUG  # 특정 패키지
#    com.finance.dart.common.util: DEBUG
#    com.finance.dart.api.abroad: DEBUG  # 해외
    org.testcontainers: DEBUG
    org.springframework.test: DEBUG

  file:
    name: ./logs/app.log

  logback:
    rollingpolicy:
      file-name-pattern: ./logs/app.%d{yyyy-MM-dd}.log
      max-history: 7

app:
  local: true

