<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 콘솔 출력 Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %-40logger{40} : %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 메모리 버퍼 Appender (최근 1000줄 보관) -->
    <appender name="MEMORY_BUFFER" class="com.finance.dart.common.logging.LogBufferAppender">
    </appender>

    <!-- application.yml 설정 가져오기 -->
    <springProperty scope="context" name="LOG_FILE" source="logging.file.name" defaultValue="./logs/app.log"/>
    <springProperty scope="context" name="LOG_PATTERN" source="logging.logback.rollingpolicy.file-name-pattern" defaultValue="./logs/app.%d{yyyy-MM-dd}.log"/>
    <springProperty scope="context" name="MAX_HISTORY" source="logging.logback.rollingpolicy.max-history" defaultValue="3"/>

    <!-- 파일 출력 Appender -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %-40logger{40} : %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATTERN}</fileNamePattern>
            <maxHistory>${MAX_HISTORY}</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- 개별 거래/스케줄러용 동적 파일 Appender -->
    <appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
        <!--  @TransactionLogging 을 안넣은 거래는 unknown.log 로 쌓이는데 아래 필터 넣으면 안쌓임 -->
        <!--  로그파일명 @TransactionLogging("거래명") OR @TransactionLogging : 지정하지 않으면 클래스명_메소드명으로 됨 -->
        <filter class="com.finance.dart.common.logging.TransactionLogFilter" />
        <discriminator>
            <key>transaction_log_file</key>
            <defaultValue>unknown</defaultValue>
        </discriminator>
        <sift>
            <appender name="FILE-${transaction_log_file}" class="ch.qos.logback.core.FileAppender">
                <file>./logs/${transaction_log_file}.log</file>
                <encoder>
                    <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %-40logger{40} : %msg%n</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <!-- Root Logger -->
    <root level="DEBUG">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="MEMORY_BUFFER" />
        <appender-ref ref="FILE" />
        <appender-ref ref="SIFT" />
    </root>

    <!-- 특정 패키지 로그 레벨 설정 -->
    <logger name="org.testcontainers" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="MEMORY_BUFFER" />
    </logger>

    <logger name="org.springframework.test" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="MEMORY_BUFFER" />
    </logger>
</configuration>
